:root {
    /* light */
    /* --background-color: rgb(250, 248, 247); */
    /* --text-color-normal: #444444; */
    /* --text-color-strong: #222222; */
    /* dark */
    --background-color: #222222;
    --background-mark: #119933;
    --text-color-normal: rgb(240, 235, 235);
    --text-color-strong: rgb(255, 250, 250);

    --code-background: #0d1117;
    --code-border: #222255;
    --code-border-left: #dd2255;
    --code-text-color: #c9d1d9;

    --primary-color: #aa0fff;
}

body {
    margin: 0 auto;
    max-width: min(60em, 80%);
    font-family: "Helvetica", sans-serif;
    font-size: large;
    line-height: 1.5;
    padding: 4em 1em;
    background: var(--background-color);
    color: var(--text-color-normal);
}

h1, h2, strong, mark {
    color: var(--text-color-strong);
}

mark {
    background: var(--background-mark);
}

h2 {
    margin-top: 1em;
    padding-top: 1em;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

pre {
    background: var(--code-background);
    color: var(--code-text-color);
    /* border: 1px solid var(--code-border); */
    border-left: 5px solid var(--code-border-left);
    padding: 1em;
}

code {
    background: var(--code-background);
    color: var(--code-text-color);
    padding: 2px 4px;
    vertical-align: text-bottom;
}

img {
    max-width: 80%;
    height: auto;
}
